:root {
  --Black: #282A28;
  --Grey1: #272A2C;
  --Grey2: #363E44;
  --Grey3: #454E54;
  --Grey4: #687B8D;
  --Grey5: #919FA9;  
  --Grey6: #d5d5d5;
  --Grey7: #FAF9F4;
  --Blue1: #2D3447;
  --Blue2: #226E98;
  --Blue3: #19C9EF;
  --Red: #d64143;
  --Logo: #FF5C58;
  --lime-green: #A1DC97;
  --darkerlime-green: #7AD46E;
  --teal1: #5D9F9E;
  --teal2: #177776;
  --teal3: #32A4AA;
}
body{
  background-color: var(--Grey6);
}
.faq {
    width: 80vw;
    margin: auto;
    max-width: 800px;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  .faq h1 {
    text-align: center;
    margin: 180px 0 80px 0;
  }
  
  .faq-questions {
    border-top: 1px solid var(--Grey2);
  }
  
  .faq-item {
    border-bottom: 1px solid var(--Grey2);
    padding: 10px 0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background: #f9f9f9;
    font-size: 14pt;
  }
  
  .faq-answer {
    padding: 10px;
    background: #fff;
    font-size: 12pt;
    color: #878787;
  }
  
  .faq-icon {
    font-size: 24px;
  }
  .contact{
    margin: 0;
    width: 100%;
  }