:root {
  --Black: #282A28;
  --Grey1: #272A2C;
  --Grey2: #363E44;
  --Grey3: #454E54;
  --Grey4: #687B8D;
  --Grey5: #919FA9;  
  --Grey6: #D9D9D9;
  --Grey7: #FAF9F4;
  --Blue1: #2D3447;
  --Blue2: #226E98;
  --Blue3: #19C9EF;
  --Red: #d64143;
  --Logo: #FF5C58;
  --lime-green: #A1DC97;
  --darkerlime-green: #7AD46E;
  --teal1: #5D9F9E;
  --teal2: #177776;
  --teal3: #32A4AA;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--Black);
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  padding-top: 160px; /* Adjusted to the full height of the navbar */
}

.nav {
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: var(--Grey7);
  color: var(--Grey6);
  height: 180px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 100;
}

nav.scrolled {
  background-color: var(--Black);
}

nav.hidden {
  transform: translateY(-120px); /* Move the navbar up by 120px */
}

nav.visible {
  transform: translateY(0);
}

.logo-container {
  height: 100px; /* Height of the logo area that scrolls out */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 101;
}

.menu-container {
  height: 80px; /* Remaining visible part */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure it stays in place */
  z-index: 102;
  flex-wrap: wrap; /* Allow the items to wrap on small screens */
}

ul {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 0;
  flex-wrap: wrap; /* Allow list items to wrap on smaller screens */
}

li {
  list-style: none;
  margin: 0 16px;
}

li a {
  text-decoration: none;
  color: rgb(3, 3, 3);
  transition: color 0.3s ease;
  font-size: 16pt;
}

li a:hover {
  color: var(--teal1); 
}

/* Hide the hamburger menu icon */
.hamburger {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  nav {
    padding: 0 10px;
  }

  ul {
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  li {
    margin: 8px 12px;
  }

  li a {
    font-size: 14pt;
  }
}